<footer>

	<hr>
	
	<nav>
		<a href="https://github.com/maialb216">GitHub</a> | 
		<a href="https://maialb216.github.io/maialb216/">GitHub.io</a> |
		<a href="https://maialb216.github.io/web250/index">WEB250.io</a> |
		<a href="https://www.codecademy.com/profiles/mbailey216">Codecademy</a> | 
		<a href="https://www.freecodecamp.org/maialb">freeCodeCamp</a> |
		<a href="https://jsfiddle.net/user/mbailey216">JSFiddle</a> |
		<a href="https://www.linkedin.com/in/maia-bailey-94946228a/">LinkedIn</a>
	</nav>
		
	<p>Designed by Maia Bailey for Petal Patisserie.</p>
	
	<p><i>Blossoming Bites, Floral Delights.</i></p>
		
	<p>
		
		<a href="http://validator.w3.org/check?uri=referer" id ="validation_link_html">
			<img src="images/valid-html-blue.png"  alt="Valid HTML 5" height="31" width="88" style="border:0px;"/>
		</a>

		<a href="https://jigsaw.w3.org/css-validator/check/referer" id ="validation_link_css">
			<img src="images/valid-css-blue.png"  alt="Valid CSS" height="31" width="88" style="border:0px;"/>
		</a>
			
		<script>
			document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri="+location.href);
			document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri="+location.href);
		</script> 
			
	</p>  
		
</footer>