@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

/* text */
html {
	background-color: rgb(72, 61, 139);
	font-family: "Playfair Display", serif;
	color: rgb(255, 240, 245);
}

h1, h2, h3 {
	font-family: "Prata", serif;
	color: rgb(123, 104, 238);
	text-align: center;
}

a:link, a:visited {
	color: rgb(123, 104, 238);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

main a {
	text-decoration: underline;
}

ul {
	list-style-position: inside;
	text-align: left;
}

figcaption {
	font-style: italic;
	text-align: center;
}

/* components */
footer p, header p {
	font-size: 100%;
	text-align: center;
}

footer nav, header nav {
	font-size: 100%;
	text-align: center;
}

figure img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

main {
	background-color: rgb(75, 0, 130);
	font-size: 100%;
	margin-left: 25%;
	margin-right: 25%;
}